In [4]:
import pandas as pd 

df = pd.read_csv("casas.csv")

In [5]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [6]:
colunas = ['tamanho', 'preco']
df = df[colunas]

df.head()

   tamanho   preco
0    159.0  208500
1    117.0  181500
2    166.0  223500
3    160.0  140000
4    204.0  250000

In [7]:
X = df.drop('preco', axis=1)
y = df['preco']

In [9]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)